{
    "singleQuote": true,
    "trailingComma": "all",
    "useTabs": true,
    "tabWidth": 4,
    "printWidth": 120,
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "auto",
    "bracketSpacing": true,
    "bracketSameLine": false
}
